.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
Klibiw7_Indikatoren.R
KontrolldateiSimulationsläufe.xlsx
20220825_KliBiW7_Liste_Indikatoren_v0.docx
.idea
data_export
Ausgangsdaten_Tabellen_TS
plot_drafts.html
*.png
